.footer{
    background-color: black;
    width: 100%;
}

.marca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    width: 10%;
    text-align: center;
}

.contacto p{
    color: white;
    text-align: center;
}

img{
    width: 60px;
}